.mechanical-form {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background: var(--mhl-dirty-white);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1.5rem;
}

.checkbox-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.form-label {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

::ng-deep mat-checkbox .mdc-label {
    color: black !important
  }
.form-field {
    width: 100%;
    margin-bottom: 1.5rem;
}

.mat-form-field {
    background: #fff;
    border-radius: 5px;
}

.date-input,
.hour-picker {
    font-size: 1rem;
    border-radius: 5px;
}

.submit-btn {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--mhl-dark-grey);
    background: var(--mhl-lime);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.submit-btn:hover {
    background: var(--mhl-lime-hover);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}